@font-face {
  font-family: 'Mont-Heavy';
  src: url('./montheavy/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Mont-Heavy', sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 15px;

}

