.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.leftSection {
  border: 1px solid black;
}

.tweetsSection {
  border: 1px solid black;
}

.trendsSection {
  border: 1px solid black;
}
