.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: #17202D;
}
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 25%;
  padding: 15px;
  border: 1px solid grey;
  color: white;
}
.tweetsSection {
  height: 25vh;
  width: 40%;
  color: white;
}
.tweetsContainer {
  overflow: scroll;
}
.trendsSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 35%;
  padding: 15px;
  color: white;
  border: 1px solid grey;
}
