.modalSignUp {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    height: 52%;
    background-color: rgb(28, 27, 27);
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .SignUpCloseButton {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .modalInputButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 220px;
}

.modalInput {
    padding: 10px;
    background-color: transparent;
    border: solid #c7c2c2;
    border-width: 1px; 
    border-radius: 3px;
    color: #fff;
}

.modalButton {
    padding: 10px;
    border: none;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    border-radius: 35px;
    cursor: pointer;
}

.errorMessage {
  color: red;
}