.inputDiv {
  text-align: center;
  margin-bottom: 2px;
}
.addTweet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 20px;
}
.inputContent {
  width: 80%;
  height: 30px;
  background-color: #17202D;
  color: lightgray;
  border: none;
  border-bottom: 1px solid grey;
  outline: none !important;
  font-size: 20px;
}
.btn {
  background-color: #2F9BF0;
  color: white;
  width: 100px;
  height: 25px;
  border-radius: 50px;
  font-weight: bold;
  margin: 10px;
  border: none !important;
}
